
<h1> Here is a list of our Freelanceres:</h1>

{{#each workers}}
    <h3>{{firstName}}</h3>
    <p>{{lastName}}</p>
    <p>{{email}}</p>
    <p>{{profession}}</p>
    <a href="{{linkedin}}" target="_blank">Linkedin</a>
    <hr>
{{/each}}
<script>

    let url = '/user/profile/' + localStorage.getItem('userId');
    document.getElementById("account").setAttribute('href', url);

    function logout() {
        localStorage.setItem('token', '');
        window.location.href = "/user/login";
    }  

</script>