<div class="container">
        <h1 class="m-3"> Here is a list of our Freelanceres</h1>

        {{#each workers}}
        <div class="card m-3" style="width: 18rem; float:left;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h3>{{firstName}}</h3></li>
              <li class="list-group-item"><p>{{lastName}}</p></li>
              <li class="list-group-item"><p>{{email}}</p></li>
              <li class="list-group-item"><p>{{profession}}</p></li>
              <li class="list-group-item"><a href="{{linkedin}}" target="_blank">Linkedin</a></li>
            </ul>
          </div>   
        
        {{/each}}

    </div>
        <script>
        
            let url = '/user/profile/' + localStorage.getItem('userId');
            document.getElementById("account").setAttribute('href', url);
        
            function logout() {
                localStorage.setItem('token', '');
                window.location.href = "/user/login";
            }  
        
        </script>